body {
	text-align: center;
}

#grid {
	display: inline-grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	margin: auto;
	width: 300px;
	height: 300px;
	border: 2px solid #cb32f2;

}


div > div {
	background-color: #f2def7;
	margin: 0;
	padding: 0;
	grid-gap: 0;
}

button {
	background-color: black;
	color: white;
}

.black {
	background-color: black;
}


h1 {
	text-align: center;
}